<!--
  Teleop por teclado (TurtleBot2).
  Publica em cmd_vel_mux/input/teleop a 10 Hz (fluxo contínuo para o Gazebo).

  Recomendado: rodar em terminal separado do bringup/RViz:
    roslaunch robo_aspirador_kinect teleop.launch
-->
<launch>
  <arg name="cmd_vel_topic" default="/cmd_vel_mux/input/teleop"/>
  <arg name="linear_speed" default="0.5"/>
  <arg name="angular_speed" default="1.0"/>
  <arg name="rate_hz" default="10.0"/>

  <node pkg="robo_aspirador_kinect" type="kinect_teleop.py" name="kinect_teleop" output="screen">
    <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <param name="linear_speed" value="$(arg linear_speed)"/>
    <param name="angular_speed" value="$(arg angular_speed)"/>
    <param name="rate_hz" value="$(arg rate_hz)"/>
  </node>
</launch>
